############################################
# Java / Maven
############################################
**/target/
*.class
*.jar
*.war
*.ear
*.log

############################################
# Spring Boot
############################################
application-*.yml
!application.yml

############################################
# IDEs
############################################
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

############################################
# OS files
############################################
.DS_Store
Thumbs.db

############################################
# Docker
############################################
**/docker-compose.override.yml

############################################
# Node / Frontend (if any)
############################################
node_modules/
dist/

############################################
# Environment / Secrets
############################################
.env
*.key
*.pem

############################################
# Build / Temp
############################################
out/
logs/
tmp/
